@page "/"
@inherits MainBase


<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Persons)
            {
                <tr>
                    <td>
                        @person.Name
                    </td>
                    <td>
                        @person.Surname
                    </td>
                    <td>
                        @person.Age
                    </td>
                    <td>
                        <button type="button" @onclick="@(()=>Delete(person.Id))" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<div class="container">
    <form>
        <div class="form-group">
            <label for="name">First Name</label>
            <input @bind-value="Model.Name" type="text" class="form-control" id="name" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="surname">SurName</label>
            <input @bind-value="Model.Surname" type="text" class="form-control" id="surname" placeholder="Enter Surname">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input @bind-value="Model.Age" type="number" class="form-control" id="age" placeholder="Enter age">
        </div>
        <button type="button" @onclick="@(()=>Submit())" class="btn btn-primary">Submit</button>
    </form>
</div>



