@page "/"
@inherits MainBase
@using Syncfusion.Blazor.Calendars

<h3>Главная страница</h3>

<div class="container mb-5">
    <div class="row">

        <div class="col">
            <SfDateRangePicker TValue="DateTime" StartDateChanged="StartDateChanged" EndDateChanged="EndDateChanged"> </SfDateRangePicker>

            <button class="btn btn-primary mt-2" @onclick="GetNewsByDateRangeAsync">Показать по выбранному промежутку времени</button>
        </div>

        <div class="col">
            <input @bind="SearchWord" type="text" />
            <button class="btn btn-primary mt-2" @onclick="GetNewsBySearchWordAsync">Показать по найденому слову в новости</button>
        </div>

        @if (News != null && News.Count > 0)
        {
            <table class="table mb-4 mt-2">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Заголовок</th>
                        <th scope="col">Текст</th>
                        <th scope="col">Дата</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in News)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Text</td>
                            <td>@item.Date</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary mt-3 mb-2" @onclick="GetTopTenFrequentWords">Показать топ 10 часто используемых слов</button>
            <div>

                @if (FrequentWords != null && FrequentWords.Count > 0)
                {
                    int i = 1;
                    <table class="table mb-4 mt-2">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Рейтинг</th>
                                <th scope="col">Слово</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var word in FrequentWords)
                            {
                                <tr>
                                    <td> @i</td>
                                    <td> @word</td>
                                </tr>
                                i++;

                            }
                        </tbody>
                    </table>
                }

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary mt-3" @onclick="GetSiteInfoAndSave">Взять данные с новостного сайта</button>
        </div>
    </div>
</div>



